<div>
    <h2 class="mt-40">Cadastro de usuário</h2>
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
        <!-- ngForm com input Text -->
        <div class="input__wrapper">
            <label for="nome">Nome</label>
            <input
                type="text"
                id="nome"
                placeholder="digite o seu nome"
                autocomplete="off"
                formControlName="nome"
            />
        </div>

        <div
            *ngIf="cadastroForm.get('nome')?.errors?.['required'] && cadastroForm.get('nome')?.touched"
        >
            <p class="error">Nome é obrigatório</p>
        </div>

        <div
            *ngIf="cadastroForm.get('nome')?.errors?.['minlength'] && cadastroForm.get('nome')?.touched"
        >
            <p class="error">
                Nome tem que ter no mínimo {{ minLengthName }} caracteres
            </p>
        </div>

        <div class="input__wrapper">
            <label for="email">email</label>
            <input
                type="email"
                id="email"
                placeholder="digite o seu email"
                autocomplete="off"
                formControlName="email"
            />
        </div>

        <div
            *ngIf="cadastroForm.controls['email']?.errors?.['required'] && cadastroForm.controls['email']?.touched"
        >
            <p class="error">Email é obrigatório</p>
        </div>

        <div
            *ngIf="cadastroForm.get('email')?.errors?.['pattern'] && cadastroForm.get('email')?.touched"
        >
            <p class="error">Insira um email válido</p>
        </div>

        <!-- ngForm com input Radio -->
        <div>
            <label>Sexo</label>
            <br />
            <label for="masculino">M</label>
            <input
                type="radio"
                id="masculino"
                value="masculino"
                formControlName="sexo"
            />

            <label for="feminino">F</label>
            <input
                type="radio"
                id="feminino"
                value="feminino"
                formControlName="sexo"
            />
        </div>

        <div
            *ngIf="
                cadastroForm.get('sexo')?.errors &&
                cadastroForm.get('sexo')?.touched
            "
        >
            <p class="error">Sexo é obrigatório</p>
        </div>

        <!-- ngForm com input Checkbox -->
        <!-- <div>
            <p>Selecione as tecnologias que você gosta de trabalhar</p>
            <div class="input__wrapper">
                <label for="angular">Angular</label>
                <input type="checkbox" name="angular" id="angular" ngModel />
            </div>

            <div class="input__wrapper">
                <label for="react">React</label>
                <input type="checkbox" name="react" id="react" ngModel />
            </div>

            <div class="input__wrapper">
                <label for="vue">Vue</label>
                <input type="checkbox" name="vue" id="vue" ngModel />
            </div>

            <div class="input__wrapper">
                <label for="node">Node JS</label>
                <input type="checkbox" name="node" id="node" ngModel />
            </div>

            <div class="input__wrapper">
                <label for="java">Java</label>
                <input type="checkbox" name="java" id="java" ngModel />
            </div>
        </div> -->

        <!-- ngForm com select mockado -->
        <div>
            <h2>Lanches</h2>

            <select name="comida" formControlName="comida">
                <option value disabled>Selecione um lanche</option>
                <option value="x-salada">X-Salada</option>
                <option value="x-hamburguer">X-Hamburger</option>
                <option value="x-bacon">X-Bacon</option>
                <option value="doguinho">doguinho</option>
            </select>
        </div>

        <!-- ngForm com select simulação de dados da API -->
        <div>
            <h2>Bebidas</h2>
            <select name="bebida" formControlName="bebida">
                <option value disabled>Selecione uma bebida</option>
                <option *ngFor="let bebida of bebidas" [ngValue]="bebida">
                    {{ bebida.nome }}
                </option>
            </select>
        </div>

        <br />
        <br />
        <button type="submit" [disabled]="cadastroForm.invalid">
            cadastrar
        </button>

        <p>{{ cadastroForm.value | json }}</p>
        <p>Formuláro está válido? {{ cadastroForm.valid | json }}</p>
    </form>
</div>
